@charset "UTF-8";

body{
	background-color: #f0f8ff;
	color: #000000;
	font-family: "ＭＳ Ｐゴシック",sans-serif;
	font-size: 16px;
}
p {
	line-height: 0px;
}
input{
	width: 47px;
}
input.name{
	width: 160px;
}
input.button{
	width: 30px;
	padding: 1px;
}
input.taikyu{
	width: 65px;
	padding: 1px;
}
input.updown{
	width: 19px;
	padding: 1px;
}
input.ALL0{
	width: 38px;
	padding: 1px;
}
input.check{
	width: 20px;
}
input.mega{
	width: 70px;
	height: 26px;
	visibility: hidden;
}
.class3{
    line-height: 25px;
}
.class4{
    line-height: 16px;
    font-size: 12px;
    width:510px; 
}

table.class5{
    background-color:white;
}
.class7{
    display :none;
}
.class8{
    width:460px;
}

/*-- スマホ版非表示設定  --*/
@media screen and (max-width: 500px){
	input.pc{
		display:none;
	}
	table{
		font-size: 12px;
	}
}
